{% extends 'base.html.twig' %}

{% block title %}SearchBook{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col-lg-9">
            <h2>SearchBook</h2>
            <p class="lead">Une plateforme simple de recherche et de suggestion d'ouvrages.</p>
        </div>
        <div class="col">
            <h2>Derniers tags</h2>
            <p class="lead"> La plateforme de suggestion de livres.</p>
        </div>
    </div>
{% endblock %}
